<p>
  <h3 class="explanation-header">
    Based on data from nidirect

    <%= link_to "Site", "http://www.nidirect.gov.uk/index/information-and-services/government-citizens-and-rights/births-and-registration/district-registrars-in-northern-ireland.htm" %>
  </h3>
</p>

<div class="panel panel-info">
  <div class="panel-heading">Related Quote</div>
  <div class="panel-body">
    <p>
    "The registration service in Northern Ireland is a partnership between the Registrar General’s Office (The General Register Office) and the 11 councils.
    </p>
    <p>
    District Registrars are responsible for the registration of all life events in Northern Ireland. They are <strong>based in council offices and are employees of the local authority</strong>. For registration purposes District Registrars are under the instruction and authority of the Registrar General."
    </p>
  </div>
</div>
