<p>
  <h3 class="explanation-header">
    Based on data from nidirect

    <%= link_to "Site", "http://www.nidirect.gov.uk/index/information-and-services/government-citizens-and-rights/births-and-registration/district-registrars-in-northern-ireland.htm" %>
  </h3>
</p>

<%= render partial: "panel",
          locals:
            {
              class_name: "panel-warning",
              collapse_id: "collapseOne",
              title: "Notes",
              content: 
                "<p>
        Registrations offices for Northern Ireland do appear to map to the Councils. They are based in the Council offices.
      </p>
      <p>
        No boundary data could be found for Registration Districts for Northern Ireland.
      </p>"
            } 
%>

<%= render partial: "panel",
          locals:
            {
              class_name: "panel-info",
              collapse_id: "collapseTwo",
              title: "Related Quotes",
              content: 
                "      <p>
        \"The registration service in Northern Ireland is a partnership between the Registrar General’s Office (The General Register Office) and the 11 councils...
        District Registrars are responsible for the registration of all life events in Northern Ireland. They are <strong>based in council offices and are employees of the local authority</strong>. For registration purposes District Registrars are under the instruction and authority of the Registrar General.\" <a href=\"http://www.nidirect.gov.uk/index/information-and-services/government-citizens-and-rights/births-and-registration/district-registrars-in-northern-ireland.htm\">Source on nidirect</a>
      </p>"
            } 
%>
