<p>

<h3 class="explanation-header">
Based on data from nidirect

<%= link_to "Site", "http://www.nidirect.gov.uk/index/information-and-services/government-citizens-and-rights/births-and-registration/district-registrars-in-northern-ireland.htm" %>
</h3>
</p>
