<p>

<h3 class="explanation-header">
Based on data from www.nrscotland.gov.uk

<%= link_to "File", "http://www.nrscotland.gov.uk/files/registration/reglist.pdf" %>
</h3>
</p>

<div class="panel panel-info">
  <div class="panel-heading">Related Quote</div>
  <div class="panel-body">
    <p>
"Registration districts in Scotland came into being with the introduction of civil registration there in 1855; away from the cities their boundaries usually coincided with civil parishes. They still exist today in their own right and <strong>in many places do not coincide with the current council areas</strong>; commonly both geographically large and densely populated Council Areas will have several registration districts, each with a registrar within easy reach of most residents."

<p>
<a href="https://en.wikipedia.org/wiki/Registration_district">Source on Wikipedia</a>
</p>
    </p>
  </div>
</div>
