<p>
<h3 class="explanation-header">
Based on data from LocalDirectGov Register Offices CSV

<%= link_to "File", "http://local.direct.gov.uk/Data/local_register_offices.csv" %>
</h3>
</p>

<div class="panel panel-warning">
  <div class="panel-heading">Notes</div>
    <div class="panel-body">
      <p>
        Only England and Wales appear to be supported to a good standard. Scotland has many (if not most) broken links. Northern Ireland has no entries at all.
      </p>
    </div>
  </div>
</div>
