<p>
<h3 class="explanation-header">
Based on data from LocalDirectGov Register Offices CSV

<%= link_to "File", "http://local.direct.gov.uk/Data/local_register_offices.csv" %>
</h3>
</p>

<%= render partial: "panel",
          locals:
            {
              class_name: "panel-warning",
              collapse_id: "collapseOne",
              title: "Notes",
              content: 
                "<p>
                  Only England and Wales appear to be supported to a good standard. Scotland has many (if not most) broken links. Northern Ireland has no entries at all.
                </p>"
            } 
%>
