/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.title-nav {
  font-weight: bold;
  font-size: xx-large;
  padding-right: 30px;
}

.explanation-header {
  padding-left: 15px;
  padding-bottom: 20px;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.panel-heading a:after {
  content:"-";
  float: right;
  color: grey;
}
.panel-heading a.collapsed:after {
    content:"+";
}
/*.pretty th .asc {
  background-image: url(<%= asset_path 'up_arrow.gif' %>);
}

.pretty th .desc {
  background-image: url(<%= asset_path 'down_arrow.gif' %>);
}
*/
